@model MvcCalendario.App.ViewModels.EnderecoViewModel

<div class="modal-header">
    <h4 class="modal-title"></h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
    </button>
</div>


<form asp-action="NovoEndereco">
    <div class="modal-body">

        <input type="hidden" asp-for="ClienteId" />
        <input type="hidden" id="divReturn" value="EnderecoTarget" />

        <div class="col-md">
            <div class="form-row">
                <div class="col-3">
                    <label asp-for="Cep" class="control-label"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Cep" />
                    <span asp-validation-for="Cep" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-10">
                    <label asp-for="Logradouro" class="control-label"></label>
                    <input class="form-control form-control-sm" asp-for="Logradouro" />
                    <span asp-validation-for="Logradouro" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="Numero" class="control-label"></label>
                    <input class="form-control form-control-sm" asp-for="Numero" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <label asp-for="Bairro" class="control-label"></label>
                    <input class="form-control form-control-sm" asp-for="Bairro" />
                    <span asp-validation-for="Bairro" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="Complemento" class="control-label"></label>
                    <input class="form-control form-control-sm" asp-for="Complemento" />
                    <span asp-validation-for="Complemento" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-2">
                    <label asp-for="UF" class="control-label"></label>
                    <input class="form-control form-control-sm" asp-for="UF" />
                    <span asp-validation-for="UF" class="text-danger"></span>
                </div>
                <div class="col-10">
                    <label asp-for="Cidade" class="control-label"></label>
                    <input class="form-control form-control-sm" asp-for="Cidade" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Atualizar Endereço" class="btn btn-success" />
                <input type="button" class="btn btn-info" value="Fechar" data-dismiss="modal" />
            </div>
        </div>

    </div>
</form>

<script>
    BuscaCepDireto();
</script>

