@model MvcCalendario.App.ViewModels.EnderecoViewModel

@{
    ViewData["Title"] = "Editar Cliente";
}

<h4>@ViewData["Title"]</h4>


<div class="row">
    <div class="col-md">
        <form asp-action="AtualizarEndereco">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="card">
                    <div class=" card-body row">
                        <div class="col-md">

                            <input type="hidden" asp-for="ClienteId" />
                            <input type="hidden" id="divReturn" value="EnderecoTarget" />

                            <div class="form-row">
                                <div class="col-3">
                                    <label asp-for="Cep" class="control-label"></label>
                                    <input type="text" class="form-control form-control-sm" asp-for="Cep" />
                                    <span asp-validation-for="Cep" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-10">
                                    <label asp-for="Logradouro" class="control-label"></label>
                                    <input class="form-control form-control-sm" asp-for="Logradouro" />
                                    <span asp-validation-for="Logradouro" class="text-danger"></span>
                                </div>
                                <div class="col-2">
                                    <label asp-for="Numero" class="control-label"></label>
                                    <input class="form-control form-control-sm" asp-for="Numero" />
                                    <span asp-validation-for="Numero" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <label asp-for="Bairro" class="control-label"></label>
                                    <input class="form-control form-control-sm" asp-for="Bairro" />
                                    <span asp-validation-for="Bairro" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label asp-for="Complemento" class="control-label"></label>
                                    <input class="form-control form-control-sm" asp-for="Complemento" />
                                    <span asp-validation-for="Complemento" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-2">
                                    <label asp-for="UF" class="control-label"></label>
                                    <input class="form-control form-control-sm" asp-for="UF" />
                                    <span asp-validation-for="UF" class="text-danger"></span>
                                </div>
                                <div class="col-10">
                                    <label asp-for="Cidade" class="control-label"></label>
                                    <input class="form-control form-control-sm" asp-for="Cidade" />
                                    <span asp-validation-for="Cidade" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>
